@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Staatliches&display=swap');

html {
    height: 100%;
}

body {
    font-family: "Contrail One", sans-serif;
    font-size: 16px;
    background-color: lightgrey;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* HEADER */
h1 {
    text-align: center;
    font-family: Staatliches, "Contrail One", sans-serif;
    letter-spacing: 0.25rem;
    font-size: 5rem;
    margin: 4rem 0 2rem;
    color: #425fbe;
}

/* CONTENT */
#content {
    display: flex;
    box-shadow: 0px 0px 16px 0px  rgb(44, 44, 44); 
    border: 1rem;
    border-color: rgb(44, 44, 44);
    border-style: solid;
    box-sizing: content-box;
}

/* GRID */
#gridContainer {
    display: grid;
}

.square {
    background-color: rgba(211, 211, 211, 1);
}

/* SIDEBAR (buttons and slider) */
#sideBar {
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
    padding: 0rem 0rem 0rem 1rem;
}

/* BUTTONS */
#buttonContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.btnSideBar {
    background-color: lightgray;
    font: inherit;
    color: rgb(24, 24, 24);
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-style: none;
    border-radius: 0.25rem;
    min-width: 90px;
    box-sizing: content-box;
    -webkit-transition: 0.5s;
    transition: box-shadow 0.5s;
}

.btnSideBar:hover {
    border-color: lightgray;
    box-shadow: 0px 0px 8px 0px  lightgrey; 
    -webkit-transition: 0.2s;
    transition: box-shadow 0.2s;
}

.btnSideBar:active {
    scale: 1.02;
}

.btnActive {
    background-color: #45c75a;
}

.btnActive:hover {
    border-color: #45c75a;
    box-shadow: 0px 0px 8px 0px  #45c75a; 
    -webkit-transition: 0.2s;
    transition: box-shadow 0.2s;
}

/* SLIDER SECTION */
#sliderContainer {
    width: 100%;
    margin: 0;
}

#numberSlider {
    -webkit-appearance: none;
    appearance: none;
    background: rgb(44, 44, 44);
    width: 100%;
    height: 24px;
    border: solid 10.5px lightgrey;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-sizing: border-box;
    margin: 0 0 1rem;
    border-radius: 0.25rem;
    -webkit-transition: 0.5s;
    transition: box-shadow 0.5s;
}

#numberSlider:hover {
    border-color: lightgray;
    box-shadow: 0px 0px 8px 0px  lightgrey; 
    -webkit-transition: 0.2s;
    transition: box-shadow 0.2s;
}

#numberSlider::-webkit-slider-thumb {
   -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #425fbe; 
    cursor: pointer;
}
  
#numberSlider::-moz-range-thumb {
    border-style: none;
    border-radius: 0px;
    width: 10px;
    height: 20px;
    background: #425fbe;
    cursor: pointer;
}

#sliderTextAndBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btnSlider {
    background-color: #45c75a;
    font: inherit;
    color: rgb(24, 24, 24);
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border-style: none;
    border-radius: 0.25rem;
    box-sizing: content-box;
    -webkit-transition: 0.5s;
    transition: box-shadow 0.5s;
}

#btnSlider:hover {
    border-color: #45c75a;
    box-shadow: 0px 0px 8px 0px  #45c75a; 
    -webkit-transition: 0.2s;
    transition: box-shadow 0.2s;
}

#btnSlider:active {
    scale: 1.05;
}

#sliderText {
    color: lightgrey;
    font-size: 1.25rem;
}

/* FOOTER */
#footer {
    justify-self: flex-end;
    color: #425fbe;
    margin: 0 auto 0.5rem;
}

a {
    color: #425fbe;
    text-decoration: none;
}